:root {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 650px) {
    :root {
        font-size: 8px;
    }
}

@media screen and (max-width: 475px) {
    :root {
        font-size: 6px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome-section {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* NAVBAR SECTION */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(238, 89, 20);
    width: 100%;
}

.navbar nav {
    display: flex;
    justify-content: flex-end;
}

.navbar nav>ul {
    display: flex;
    list-style: none;
    margin: 0 2rem;
}


nav a {
    text-decoration: none;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 3rem;
    color: whitesmoke;
    transition-property: background-color;
    transition-duration: 0.1s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

nav a:hover {
    background-color: rgb(233, 166, 23);
}

/* WELCOME SECTION */
.welcome-section > p {
    font-size: 5rem;
}

.welcome-section > h1 {
    font-size: 5rem;
}

.btn {
    display: block;
    padding: 2rem 2rem;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-hover::before {
    content: "</";
    color: white;
    margin-right: 1rem;
    opacity: 0;
    transition-property: opacity, color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.btn-hover:hover::before {
    opacity: 1;
    color: orange;
}

.btn-hover::after {
    content: ">";
    color: white;
    opacity: 0;
    margin-left: 1rem;
    transition-property: opacity, color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.btn-hover:hover::after {
    opacity: 1;
    color: orange;
}

/* PROJECTS SECTION */

.projects-section {
    background: rgb(69, 86, 125);
    padding: 10rem 0;
}

.project-heading {
    display: block;
    color: #f0f0f0;
    font-size: 3.5rem;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.projects {
    padding: 3rem 6rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-columns: 65vh;
    max-width: 1280px;
    gap: 4rem 6rem;
}

.project-tile {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-size: 2rem;
    background-color: #303841;
}

.img-div {
    width: 100%;
    height:calc(100% - 7.4rem);
    max-height: 65vh;
}

.project-tile img {
    display: block;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

/* CONTACT PAGE SECTION */

.contact-page {
    background: radial-gradient(
        farthest-corner circle at 0% 0%,
        rgb(81, 88, 95) 0%,
        rgb(48, 56, 65)
    );
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.contact-page h2 {
    font-size: 5rem;
}

.contact-page ul {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-page a {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px 1px #1f1f1f;
    padding: 1rem 2rem;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.contact-page a:hover {
    color: rgb(218, 210, 210);
    transform: translateY(5px);
}

.contact-page i {
    margin-right: 1rem;
}